/*  GENERAL SETTINGS  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* background-color: @background-light;*/
}
.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  background-color: #f4f4f4;
}
/*  FONT FOR THE PROJECT  */
/*  PROXIMA NOVA REGULAR  */
@font-face {
  font-family: 'Proxima Nova';
  src: url('Fonts/Proxima Nova Regular/ProximaNova-Regular.eot');
  src: url('Fonts/Proxima Nova Regular/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('Fonts/Proxima Nova Regular/ProximaNova-Regular.woff2') format('woff2'), url('Fonts/Proxima Nova Regular/ProximaNova-Regular.woff') format('woff'), url('Fonts/Proxima Nova Regular/ProximaNova-Regular.ttf') format('truetype'), url('Fonts/Proxima Nova Regular/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/*  PROXIMA NOVA BOLD  */
@font-face {
  font-family: 'Proxima Nova';
  src: url('Fonts/Proxima Nova Bold/ProximaNova-Bold.eot');
  src: url('Fonts/Proxima Nova Bold/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('Fonts/Proxima Nova Bold/ProximaNova-Bold.woff2') format('woff2'), url('Fonts/Proxima Nova Bold/ProximaNova-Bold.woff') format('woff'), url('Fonts/Proxima Nova Bold/ProximaNova-Bold.ttf') format('truetype'), url('Fonts/Proxima Nova Bold/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/*  COLORSCHEME  */
/*  FULL SCREEN BACKGROUND SETTINGS  */
.full-screen-nav {
  box-shadow: 0 0 0 100vmax #000000;
  clip-path: inset(0 -100vmax);
}
.full-screen-nav-bottom {
  box-shadow: 0 0 0 100vmax #f4f4f4;
  clip-path: inset(0 -100vmax);
}
.full-screen-footer-brands {
  box-shadow: 0 0 0 100vmax #e1e1e1;
  clip-path: inset(0 -100vmax);
}
/*  NAVIGATION BAR STYLES  */
.navigation {
  display: flex;
  position: fixed;
  z-index: 1000;
  width: 80%;
  /*  TWO NAVIGATION LAYERS  */
}
.navigation-logo {
  height: 6.6em;
  z-index: 998;
}
.navigation-navbar {
  display: flex;
  width: 100%;
  flex-flow: column wrap;
  /*  TOP LAYER  */
  /*  BOTTOM LAYER  */
}
.navigation-navbar-top {
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-color: #000000;
  background-attachment: fixed;
  background-size: 100vw;
}
.navigation-navbar-top-child {
  background-color: #000000;
  color: #c8c8c8;
  font-size: 0.6em;
  font-family: "Proxima Nova", sans-serif;
  font-weight: normal;
  padding: 1.5em 0.8em 1.5em 0.8em;
  transition: color ease-in 0.2s;
}
.navigation-navbar-top-child:first-child {
  margin-right: 15em;
}
.navigation-navbar-top-child:hover {
  color: #eeeeee;
  cursor: pointer;
}
.navigation-navbar-bottom {
  /* line-height: 2em;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  background-color: #f4f4f4;
  border: solid 1px #ebebeb;
}
.navigation-navbar-bottom-sections {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.navigation-navbar-bottom-sections-child {
  padding: 1em;
  text-decoration: none;
  color: #000000;
  border: solid 1px #ebebeb;
  font-size: 1.2em;
  font-family: "Proxima Nova", sans-serif;
  font-weight: bold;
}
.navigation-navbar-bottom-sections-child:hover {
  border: solid 1px #c5c5c5;
  -webkit-box-shadow: inset 0px 0px 19px -14px #000000;
  -moz-box-shadow: inset 0px 0px 19px -14px #000000;
  box-shadow: inset 0px 0px 19px -14px #000000;
}
.navigation-navbar-bottom-btn {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  border: solid 1px #ebebeb;
}
.navigation-navbar-bottom-btn-child {
  padding: 1em;
  margin: 0;
}
.navigation-navbar-bottom-btn-child:hover {
  border: solid 1px #c5c5c5;
  -webkit-box-shadow: inset 0px 0px 19px -14px #000000;
  -moz-box-shadow: inset 0px 0px 19px -14px #000000;
  box-shadow: inset 0px 0px 19px -14px #000000;
}
/*  HEADER STYLES  */
.header {
  background-color: transparent;
  /*  CAROUSEL STYLES  */
  /*  HEADER BRAND CONFIGURATION  */
}
.header-carousel-slide img {
  width: 100%;
}
.header-brand {
  display: flex;
  flex-direction: column;
  z-index: 998;
  position: absolute;
  width: 80%;
  align-items: center;
}
.header-brand-logo {
  background: none;
  padding: 10em 10em;
}
.header-brand-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}
.header-brand-title h1 {
  font-size: 3.5em;
  font-family: "Proxima Nova", sans-serif;
  font-weight: bold;
}
.header-brand-title h4 {
  font-family: "Proxima Nova", sans-serif;
  font-weight: normal;
}
.header-brand-btn {
  padding: 8em 5em;
}
.header-brand-btn a {
  border: solid 2px #eeeeee;
  padding: 1em;
  color: #eeeeee;
  text-decoration: none;
  font-family: "Proxima Nova", sans-serif;
  font-weight: bold;
  transition: background-color ease-out 0.2s;
}
.header-brand-btn a:hover {
  border: solid 3px #000000;
  background-color: #f4f4f4;
  color: #000000;
  font-weight: bold;
  -webkit-box-shadow: 1px 1px 19px 0px #ffffff;
  -moz-box-shadow: 1px 1px 19px 0px #ffffff;
  box-shadow: 1px 1px 19px 0px #ffffff;
}
/*  CONTENT STYLES  */
.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background-color: #f4f4f4;
  /*  PROMO PART OF THE CONTENT  */
  /*  BLOG PART OF THE CONTENT  */
}
.content-promo {
  display: flex;
  width: 100%;
}
.content-promo-child {
  margin: 1.5em;
  border: solid 4px #ffffff;
  padding: 1.5em 4em 1.5em 4em;
  color: #ffffff;
  font-size: 2em;
  font-family: "Proxima Nova", sans-serif;
  font-weight: bold;
  /*  LEFT PART OF THE PROMO  */
  /*  RIGHT PART OF THE PROMO  */
}
.content-promo-child-left {
  display: flex;
  flex-direction: column;
  background-image: url("IMG/promo1.png");
  background-size: cover;
  width: 50%;
  transform: translateY(-20%);
}
.content-promo-child-left p {
  transform: translateY(-2em) translateX(-4.2em);
  background-color: #ff6600;
  width: fit-content;
}
.content-promo-child-left-btn {
  display: flex;
  flex-direction: row;
  padding: 0 1.5em 2em 2.9em;
  color: #fbfbfb;
}
.content-promo-child-left-btn div {
  padding: 0 1.5em 0 0;
  font-family: "Proxima Nova", sans-serif;
  font-weight: normal;
  transition: all 0.2s ease-out;
}
.content-promo-child-left-btn div:hover span {
  color: #ffffff;
  padding-right: 1em;
  font-family: "Proxima Nova", sans-serif;
  font-weight: bold;
}
.content-promo-child-right {
  display: flex;
  flex-direction: column;
  background-image: url("IMG/promo2.png");
  background-size: cover;
  width: 50%;
  transform: translateY(-20%);
}
.content-promo-child-right p {
  transform: translateY(-2em) translateX(-4.2em);
  background-image: linear-gradient(to right bottom, #c4c4c4, #c7c7c7, #cacaca, #cecece, #d1d1d1);
  width: fit-content;
}
.content-promo-child-right-btn {
  color: #fbfbfb;
  padding: 0 1.5em 2em 2.9em;
  transition: ease-out padding-right 0.2s;
}
.content-promo-child-right-btn div {
  font-family: "Proxima Nova", sans-serif;
  font-weight: normal;
}
.content-promo-child-right-btn div:hover span {
  color: #ffffff;
  padding-right: 1em;
  font-family: "Proxima Nova", sans-serif;
  font-weight: bold;
}
.content-blog {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.content-blog-title {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding-bottom: 4em;
}
.content-blog-title h1 {
  font-family: "Proxima Nova", sans-serif;
  font-weight: bold;
  font-size: 3em;
}
.content-blog-title h4 {
  font-family: "Proxima Nova", sans-serif;
  font-weight: normal;
}
.content-blog-info {
  display: flex;
  flex-direction: column;
}
.content-blog-info-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: unset;
}
.content-blog-info-row-child {
  display: flex;
  flex-flow: row wrap;
  max-width: 50%;
  min-width: 50%;
}
.content-blog-info-row-child img {
  width: 100%;
  aspect-ratio: 1;
}
.content-blog-info-row-child-fragment {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 50%;
  object-fit: cover;
  background-color: #ffffff;
  aspect-ratio: 1;
}
.content-blog-info-row-child-fragment span {
  color: #ff6600;
}
.content-blog-info-row-child-fragment img {
  aspect-ratio: 1;
  /*max-height: 100%;*/
}
.content-blog-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3em 0 3em 0;
  font-size: 1.2em;
}
.content-blog-btn a {
  font-family: "Proxima Nova", sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
  border: solid 1px #aeaeae;
  padding: 0.8em 2em 0.8em 2em;
  transition: all ease-out 0.2s;
}
.content-blog-btn a:hover {
  background-color: #000000;
  border: solid 2px #ffffff;
  color: #eeeeee;
  -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.42);
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.42);
}
/*  FOOTER STYLES  */
.footer {
  display: flex;
  flex-flow: column wrap;
}
.footer-brands {
  display: flex;
  flex-flow: row wrap;
  background-color: #e1e1e1;
  justify-content: center;
  align-items: center;
  padding: 4em 0 4em 0;
}
.footer-brands-logo #NewBalance {
  width: 7em;
}
.footer-brands-logo #NewEra {
  width: 7em;
}
.footer-brands-logo img {
  width: 5em;
}
.footer-brands-space {
  font-size: 2.5em;
  color: #7c7c7c;
  margin: 0 1em 0 1em;
}
.footer-home-btn {
  display: flex;
  position: absolute;
  z-index: 998;
  width: 3em;
  height: 3em;
  justify-content: center;
  align-items: center;
  align-self: center;
  text-decoration: none;
  background-color: #ff6600;
  color: #c8c8c8;
  font-size: 1em;
  transform: translateY(432%) rotate(135deg);
}
.footer-home-btn:hover {
  color: #ffffff;
  font-weight: bold;
  text-shadow: 0px 0px 12px #ffffff;
  cursor: pointer;
}
.footer-bottom {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  padding: 4em 0 4em 0;
}
.footer-bottom-links {
  display: flex;
  flex-flow: wrap row;
  width: 100%;
  justify-content: space-between;
  padding: 0 0 3em 0;
  color: #c8c8c8;
}
.footer-bottom-links-section {
  display: flex;
  line-height: 6em;
  z-index: 998;
  text-decoration: none;
  color: #c8c8c8;
  transition: all ease-out 0.2s;
}
.footer-bottom-links-section::after {
  content: " ";
  position: absolute;
  width: 10%;
  height: 1px;
  background-color: #000000;
  transform: translateY(4em) /*translateX(-20%)*/;
}
.footer-bottom-links-section:hover {
  color: #ffffff;
  cursor: pointer;
}
.footer-bottom-links-section:hover:after {
  background-color: #ff6600;
}
.footer-bottom-links-section-logo {
  z-index: 998;
  height: 6em;
  margin: 0 3em 0 3em;
}
.footer-bottom-socials {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}
.footer-bottom-socials::before {
  content: " ";
  position: absolute;
  z-index: -1;
  width: 100%;
  border-bottom: solid 1px #979797;
  transform: translateY(50%);
}
.footer-bottom-socials-link {
  z-index: 998;
  width: 2.5em;
  margin: 0 0.5em 0 0.5em;
  aspect-ratio: 1;
  border: solid 2px #979797;
  border-radius: 50%;
}
.footer-bottom-socials-link #instagram {
  width: 2em;
  transform: translateX(8%) translateY(8%);
}
.footer-bottom-socials-link img {
  width: 1.5em;
  transform: translateX(25%) translateY(25%);
}
.footer-bottom-rights {
  margin: 4em 0 6em 0;
  font-family: "Proxima Nova", sans-serif;
  font-weight: normal;
  color: #979797;
}
/* POPUP STYLES  */
.popup {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -999;
}
.popup:target {
  z-index: 1000;
}
.popup-search {
  margin-top: 6.6em;
  width: 100%;
  background-color: #f4f4f4;
  height: 20em;
  border-top: solid 1px #b8b8b8;
}
.popup-search-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup-search-content input {
  width: 80%;
  height: 80%;
  text-align: center;
  font-size: 9em;
  padding: 5%;
  color: #626262;
  background-color: #f4f4f4;
  border: none;
}
.popup-search-content input::placeholder {
  color: #c8c8c8;
  text-align: center;
}
.popup-search-content input:focus {
  outline: none;
}
#close {
  font-family: "Proxima Nova", sans-serif;
  color: #c8c8c8;
  position: fixed;
  transform: translateY(-9em) translateX(37em);
  text-decoration: none;
  font-weight: bold;
}
#close:hover {
  color: #7c7c7c;
}
